* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

html {
    font-size: 1.2rem;
}

/* Apartado header */
header {
    background: white;
    max-width: 2000px;
    height: 4.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;

}

.header-logo {
    width: 5em;
    height: 100%;
    margin-left: 10%;

}

.header-logo img {
    width: 100%;
    height: 100%;
}

.header-items {
    margin-right: 2em;
}

.header-items a {
    margin: 1em;
    color: rgb(243, 219, 3);
    text-decoration: none;
}

.header-items a:not(:hover) {
    color: blue;


}

.nav-toggle {
    display: none;
}

@media (max-width: 768px) {
    .header-items {
        position: absolute;
        top: 4.1em;
        left: 0;
        background: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }

    .nav-toggle {
        display: flex !important;
        flex-direction: column;
        margin: 15px;
    }

    .nav-toggle a {
        text-align: center;
    }

    .nav-toggle span {
        width: 30px;
        height: 4px;
        background: black;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }

    .close span {
        transform: rotate(45deg) translate(0px 0px);
    }

    .close span :nth-child(2) {
        display: none;
    }

    .close span :nth-child(3) {
        transform: rotate(-45deg) translate(-5px 1px);
    }

    .open {
        transform: translateX(0) !important
    }
}

/* Portada Principal  */

.contenedor-index {
    height: 100vh;
    background-image: linear-gradient(to top, rgba(8, 24, 255, 0.671) 0%, rgba(255, 255, 255, 0.5) 100%), url(../img/portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor-index .index-tittle {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.contenedor-index .index-tittle h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5em;
    color: hsl(59, 98%, 52%);
    text-align: center;
    line-height: 1em;
    text-shadow: 3px 2px 0 #1235f8, -3px 0 #1235f8, -3px 1px 0 #1235f8, -3px -1px 0 #1235f8;
}

.contenedor-index .index-tittle p {
    font-size: 1em;
    text-align: center;
    color: aliceblue;
    padding: 1em;
}



@media screen and (max-width:767px) {
    .contenedor-index .index-tittle h1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.8em;
        color: hsl(59, 98%, 52%);
        text-align: center;
        line-height: 1em;
        text-shadow: 3px 2px 0 #1235f8, -3px 0 #1235f8, -3px 1px 0 #1235f8, -3px -1px 0 #1235f8;
    }
    .contenedor-index .index-tittle p {
        font-size: 0.7em;
        text-align: center;
        color: aliceblue;
        padding: 1em;
    }
}
@media screen and (min-width:767px) and (max-width:1023px) {
    .contenedor-index .index-tittle h1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 3.5em;
        color: hsl(59, 98%, 52%);
        text-align: center;
        line-height: 1em;
        text-shadow: 3px 2px 0 #1235f8, -3px 0 #1235f8, -3px 1px 0 #1235f8, -3px -1px 0 #1235f8;
    }
    .contenedor-index .index-tittle p {
        font-size: 1em;
        text-align: center;
        color: aliceblue;
        padding: 1em;
    }
}

/* Footer */
#footer {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.footer {
    background-color: black;
    padding: 3em 0 2em 0;
    width: 100%;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-links {
    width: 30%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    
    
}

.footer-links h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: white;
    padding-left: 6px;
}

.footer-links ul li a .icon {
    font-size: 1.1em;
    margin-right: 0.4em;
}

.social-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3em;
}

.social-link img {
    min-height: 3em;
    width: 3em;
    background-color: rgb(255, 255, 255, 0.9);
    margin: 0.5em;
    text-align: center;
    line-height: 2em;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;
}

.social-link img:hover {
    background-color: #2f00ff;
}

@media screen and (max-width:768px) {
    
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
        margin-top: 1em;
        
    }
    .footer-links ul li a {
        font-size: 0.8em;
    }
   
}
@media screen and (min-width:767px) and (max-width:1023px){
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-links ul li a {
        font-size: 1em;
    }
    
}

.footer-logo img {
    border-radius: 1em;

}
.footer2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
    background: #242424;

}

.footer2 .derechos {
    font-size: 0.7em;
    text-align: center;
    color: white;
}
