* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.2rem;
}

/* Apartado header */
header {
    background: white;
    max-width: 2000px;
    height: 4.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;

}

.header-logo {
    width: 5em;
    height: 100%;
    margin-left: 10%;

}

.header-logo img {
    width: 100%;
    height: 100%;
}

.header-items {
    margin-right: 2em;
}

.header-items a {
    margin: 1em;
    color: rgb(243, 219, 3);
    text-decoration: none;
}

.header-items a:not(:hover) {
    color: blue;


}

.nav-toggle {
    display: none;
}

@media (max-width: 768px) {
    .header-items {
        position: absolute;
        top: 4.1em;
        left: 0;
        background: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }

    .nav-toggle {
        display: flex !important;
        flex-direction: column;
        margin: 15px;
    }

    .nav-toggle a {
        text-align: center;
    }

    .nav-toggle span {
        width: 30px;
        height: 4px;
        background: black;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }

    .close span {
        transform: rotate(45deg) translate(0px 0px);
    }

    .close span :nth-child(2) {
        display: none;
    }

    .close span :nth-child(3) {
        transform: rotate(-45deg) translate(-5px 1px);
    }

    .open {
        transform: translateX(0) !important
    }
}

/* MAIN */
.main-container {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.068) 0%, rgba(255, 255, 255, 0.068) 100%), url(../img/info.jpg);
    background-size: cover;
    background-position: center;
}

.main-container .text {
    background-color: #ffffff05;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(25px);
    width: 60%;
    text-align: center;
    padding: 1em;
    border-radius: 15%;
}

.main-container .text h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    color: hsl(59, 98%, 52%);
    line-height: 1em;
    text-shadow: 3px 2px 0 #1235f8, -3px 0 #1235f8, -3px 1px 0 #1235f8, -3px -1px 0 #1235f8;

}

.main-container .text p {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}

@media screen and (max-width:767px) {
    .main-container {
        width: 100%;
        height: 60vh;
        min-height: 60vh;
    }

    .main-container .text {
        width: 85%;
        min-width: 90%;
    }

    .main-container .text h2 {
        font-size: 1.5em;
        line-height: 1.1em;
    }

    .main-container .text p {
        font-size: 1em;
    }

}

@media screen and (min-width:767px) and (max-width:1023px) {
    .main-container {
        height: 75vh;
        min-height: 60vh;
    }

    .main-container .text {
        width: 90%;

    }
}

/* SOBRE NOSOTROS */
.info-nosotros {
    width: 100%;
    height: auto;
    border-top: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 2em 0em 1em 0em;

}

.info-nosotros h1 {
    font-size: 3em;
    margin: 0.1em;
    border-bottom: 2px solid yellow;
}

.info-nosotros .info-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 3em 0 3em 0;

}

.info-nosotros .info-container .img-nosotros {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.info-nosotros .info-container .img-nosotros img {
    width: 80%;
    height: 75%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
}

.info-nosotros .info-container .info-card {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;



}

.info-nosotros .info-container .info-card .info-text {
    background: rgba(238, 232, 232, 0.479);
    border-radius: 30px;
    padding: 0.8em;

}

.info-nosotros .info-container .info-card .info-text p {
    font-size: 1.2em;
    text-align: justify;
}

/* VALORES */
@media screen and (min-width:1024px) {
    .container-valores {
        width: 100%;
        height: 70vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        background: rgba(255, 255, 255, 0.521);
        border-top: 2px solid rgb(0, 0, 0);
    }

    .container-valores .valores {
        width: 30%;
        height: 80%;
        display: flex;
        justify-content: center;


    }

    .container-valores .valores .card {
        width: 90%;
        height: 85%;
        background: rgb(241, 241, 241);
        border-radius: 30px;
        border: 2px inset rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-valores .valores .card h3 {
        width: auto;
        font-size: 2.2em;
        margin: 0.7em;
        border-bottom: 2px solid #1235f8;

    }

    .container-valores .valores .card .card-text {
        width: 90%;

    }

    .container-valores .valores .card .card-text ul {
        margin: 0 1em 0 2em;
        display: flex;
        flex-direction: column;
        align-items: start;


    }

    .container-valores .valores .card .card-text ul li {
        font-size: 1.5em;

        line-height: 1.5em;


    }

    .container-valores .valores .card .card-text p {
        font-size: 1.5em;
        margin: 1em;
        text-align: justify;

    }
}


@media screen and (max-width:767px) {

    /* SOBRE NOSOTROS */

    .info-nosotros {
        width: 100%;
        height: 100%;
        border-top: 2px solid rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0.5em 0 1em 0;
    }

    .info-nosotros h1 {
        font-size: 1.8em;
        margin: 1em 0 0 0;
        border-bottom: 2px solid yellow;
        text-align: center;
    }

    .info-nosotros .info-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em 0 1em 0;
    }

    .info-nosotros .info-container .img-nosotros {
        width: 80%;
        height: 30%;
        display: flex;
        justify-content: center;
        margin: 1em 0 2em 0;
    }

    .info-nosotros .info-container .img-nosotros img {
        width: 90%;
        height: auto;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 30px;
    }

    .info-nosotros .info-container .info-card {
        width: 80%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .info-nosotros .info-container .info-card .info-text {

        background: rgba(238, 232, 232, 0.479);
        border-radius: 30px;
        padding: 0.8em;
    }

    .info-nosotros .info-container .info-card .info-text p {
        font-size: 1.2em;
        text-align: justify;
    }

    .container-valores {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        background: rgb(255, 255, 255);
        border-top: 2px solid rgb(0, 0, 0);
        margin: 1em 0 1em 0;
    }

    .container-valores .valores {
        width: 80%;
        height: auto;
        margin: 2em 0 1em 0;
        display: flex;
        justify-content: center;


    }

    .container-valores .valores .card {
        width: 90%;
        height: 100%;
        background: rgb(241, 241, 241);
        border-radius: 30px;
        border: 2px inset rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-valores .valores .card h3 {
        font-size: 1.5em;
        margin: 0.7em;
        border-bottom: 2px solid #1235f8;
    }

    .container-valores .valores .card .card-text {
        width: 90%;
    }

    .container-valores .valores .card p {
        font-size: 1.2em;
        margin: 0.5em 0.5em 1em 1em;
        text-align: start;
    }

    .container-valores .valores .card ul {
        margin: 0.5em 0.5em 1em 1.5em;
        text-align: start;
        font-size: 1.2em;
    }

}

@media screen and (min-width:767px) and (max-width:1023px) {
    /* SOBRE NOSOTROS */

    .info-nosotros {
        width: 100%;
        height: 100%;
        border-top: 2px solid rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0.5em 0 1em 0;
    }

    .info-nosotros h1 {
        font-size: 2.8em;
        margin: 0.5em;
        border-bottom: 2px solid yellow;
    }

    .info-nosotros .info-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .info-nosotros .info-container .img-nosotros {
        width: 65%;
        height: 40%;
        display: flex;
        justify-content: center;
        margin: 2em;
    }

    .info-nosotros .info-container .img-nosotros img {
        width: 100%;
        height: 30vh;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 30px;
    }

    .info-nosotros .info-container .info-card {
        width: 65%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .info-nosotros .info-container .info-card .info-text {

        background: rgba(238, 232, 232, 0.479);
        border-radius: 30px;
        padding: 0.8em;
    }

    .info-nosotros .info-container .info-card .info-text p {
        font-size: 1.6em;
        text-align: justify;
    }

    .container-valores {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        background: rgb(255, 255, 255);
        border-top: 2px solid rgb(0, 0, 0);
        margin: 1em 0 1em 0;
    }

    .container-valores .valores {
        width: 65%;
        height: auto;
        margin: 2em 0 1em 0;
        display: flex;
        justify-content: center;

    }

    .container-valores .valores .card {
        width: 90%;
        height: 100%;
        background: rgb(241, 241, 241);
        border-radius: 30px;
        border: 2px inset rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-valores .valores .card h3 {
        font-size: 2em;
        margin: 0.7em;
        border-bottom: 2px solid #1235f8
    }

    .container-valores .valores .card .card-text {
        width: 90%;

    }

    .container-valores .valores .card p {
        font-size: 1.6em;
        margin: 0.5em 0.5em 1em 1em;
        text-align: start;
    }

    .container-valores .valores .card ul {
        font-size: 1.6em;
        margin: 0.5em 0.5em 1em 1.5em;
        text-align: start;

    }
}

/* Footer */
#footer {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.footer {
    background-color: black;
    padding: 3em 0 2em 0;
    width: 100%;

}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-links {
    width: 30%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;


}

.footer-links h4 {
    font-size: 1.1em;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: white;
    padding-left: 6px;
}

.footer-links ul li a .icon {
    font-size: 1.1em;
    margin-right: 0.4em;
}

.social-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3em;
}

.social-link img {
    min-height: 3em;
    width: 3em;
    background-color: rgb(255, 255, 255, 0.9);
    margin: 0.5em;
    text-align: center;
    line-height: 2em;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;
}

.social-link img:hover {
    background-color: #2f00ff;
}

@media screen and (max-width:768px) {

    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
        margin-top: 1em;

    }

    .footer-links ul li a {
        font-size: 0.8em;
    }

}

@media screen and (min-width:767px) and (max-width:1023px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer-links ul li a {
        font-size: 1em;
    }

}

.footer-logo img {
    border-radius: 1em;

}

.footer2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
    background: #242424;

}

.footer2 .derechos {
    font-size: 0.7em;
    text-align: center;
    color: white;
}